@import "tailwindcss";

@theme {
  --color-primary: #1A73E8; /*color Principal*/
  --color-success: #22C55E;
  --color-warning: #F59E0B;
  --color-danger: #EF4444;
  --color-dark-1: #111827;
  --color-gray-1: #F3F4F6;
  --color-gray-2: #9CA3AF;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 64rem;
  --breakpoint-lg: 85rem;
  --breakpoint-xl: 120rem;
}

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


#app {
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
}
